@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */ 
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

.hero-section {
    background-image: linear-gradient(rgba(180, 8, 180, 0.7), rgba(77, 7, 77, 0.8)), url('./assets/about-us-bg.jpg');
    height: 300px; /* Adjust height as needed */
    color: white;
}
