@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

.hero-section {
    background-image: linear-gradient(rgba(8, 62, 180, 0.7), rgba(7, 18, 77, 0.8)), url('./assets/about-us-bg.jpg');
    color: white;
}

body{
    scroll-behavior: smooth;
    font-family: "Sora", serif;
}